<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tax Receipt Test App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Shopping Baskets</p><br/>

		<p><a th:href="@{/input?inputId=1}">Input 1</a></p>
		<p><a th:href="@{/input?inputId=2}">Input 2</a></p>
		<p><a th:href="@{/input?inputId=3}">Input 3</a></p>
		<br/>
		<p><a th:href="@{/output?inputId=1}">Output 1</a></p>
		<p><a th:href="@{/output?inputId=2}">Output 2</a></p>
		<p><a th:href="@{/output?inputId=3}">Output 3</a></p>
				
</body>
</html>