<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tax Receipt Test App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Receipt Details</p><br/>
    <p th:text="'Input ' + ${inputId} + '!'" />
    <li th:each="product : ${products}">
    	<p th:text="${product.amount} + ' ' + ${product.description} + ' ' + ${product.priceFormatted}"/>
	</li>
</body>
</html>