<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tax Receipt Test App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Receipt Details</p>
    <p th:text="'Output ' + ${inputId} + '!'" />
    <li th:each="product : ${products}">
    	<p th:text="${product.amount} + ' ' + ${product.description} + ' ' + ${product.salesPriceFormatted}"/>
	</li>
    <p th:text="'Sales Taxes: ' + ${salesTaxes}" />
    <p th:text="'Total ' + ${total}" />
</body>
</html>